@charset "UTF-8";

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

html * {
	font-family: 'Escoredream';
}

.table-box th, .table-box td {
	padding: 10px;
	text-align: center;
}

.header-menu > li {
	position: relative;
}

.header-menu > li:hover > ul {
	display: block;
}

.header-menu ul {
	background-color: #efefef;
	position: absolute;
	top: 100%;
	left: 0;
	height: 135px;
	z-index: 999;
}

[data-theme="dark"] .header-menu > li:hover > ul {
	background-color: white;
	color: black;
}

[data-theme="dark"] .btn.btn-neutral {
	border: 1px solid white;
	color: white;
}

[data-theme="dark"] .btn.btn-neutral:hover {
	background-color: white;
	color: black;
}

[data-theme="dark"] .join .join-item.btn-active {
	background-color: #efefef;
	color: black;
}

[data-theme="dark"] .radio {
	border: 1px solid white;
	color: white;
}

[data-theme="dark"] .input {
	border: 1px solid gray;
}

[data-theme="dark"] .input:focus {
	border: 1px solid white;
}

.ProseMirror div, .toastui-editor-contents p {
	font-size: 1.5rem;
	text-align: left;
}